/*
Project: Mango Education
Build Version: 0.0.1
Author: http://abi.ink
   _   _     _
  /_\ | |__ (_)
 // \\| '_ \| |
// _ \\ |_) | |
\_/ \_/_.__/|_|
*/
$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// Variables
$box-color-1: #A0C34F;
$box-color-2: #3D3D3D;
$box-color-3: #FFBC3F;
$element-zindex: 1000;

//Color Variables
$color-white: #FFF;
$color-nav-text: #606060;
$color-black: #000;

//Overwriting Bootstrap Variables
$headings-font-family: 'Montserrat', sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;

body {
  overflow: hidden;
}
.mango-container {
  margin-top: 150px;
}
footer, .footer {

}
/* BOOTSTRAP OVERRIDES */
.mango-nav.navbar {
  margin-top: 20px;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
  outline: none;
}
.nav > li > a {
  color: $color-nav-text;
  font-family: $headings-font-family;
}
li.active >a {
  font-weight: bold;
}
.mango-relative {
  position: relative;
}
.mango-logo {
  width: 150px;
  height: 180px;
  background: url('../assets/images/mango-logo.png') no-repeat; /* Replace the Logo with the right exported size */
  background-size: 100%; /* Bad Practice */
  position: fixed;
  z-index: $element-zindex;
  top: 25px;
  left: 50px;
}
.green-box {
    background-color: $box-color-1;
}
.black-box {
    background-color: $box-color-2;
}
.yellow-box {
    background-color: $box-color-3;
}
.mango-boxes-right {
  background-image: url(../images/boxes-1.png);
  background-position: 0;
  background-size: 85%;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  right: -80px;
  width: 500px;
  height: 320px;
  .brand {
    margin-top: 30px;
    margin-left: 60px;
    color: $color-white;
    h1 {
      font-size: 25px
    }
    a {
      color: $color-white;
      &:hover {
        text-decoration: none;
      }
    }

  }
  .social-box {
    position: absolute;
    bottom: 50px;
    right: 80px;
    i {
      font-size: 35px;
      padding: 5px;
    }
  }
}



.mango-boxes-left {
  background-image: url(../images/boxes-2.png);
  background-position: 0;
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 300px;
  height: 300px;
  p.gift {
    color: $color-black;
    text-align: left;
    font-size: 18px;
    position: absolute;
    left: 140px;
    top: 135px;
    line-height: 18px;
  }

  p.subscription {
    color: $color-white;
    text-align: right;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    line-height: 18px;
  }


}

section#main {
  background: url('../assets/images/mangobox.jpg');
  background-size: 88%; /* Bad Practice */
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.section-list{
    margin-top:150px;
}
section {
  display: block;
  height: 600px;
  margin: 50px 25px;
  position: relative;
}

.section-animate-enter {
  -webkit-transition: 1.5s linear all; /* Chrome */
    transition: 1.5s linear all;
    opacity: 0;
    left: 100%;
}
.section-animate-enter.section-animate-enter-active {
    opacity: 1;
    left: 0;
}

//Media Queries

@media screen and (max-width: 320px) {
    .mango-boxes-right {
        .green-box {
            position: absolute;
            width: 300px;
            height: 300px;
            -webkit-transform: rotate(20deg);
               -moz-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                 -o-transform: rotate(20deg);
                    transform: rotate(20deg);
            right: 100px;
            top: -150px;
            .brand {
                margin-top: 175px;
                margin-left: 25px;
                color: #fff;
                -webkit-transform: rotate(-20deg);
                   -moz-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                     -o-transform: rotate(-20deg);
                        transform: rotate(-20deg);
                h1 {
                    font-size: 25px
                }
            }
        }
        .yellow-box {
            position: absolute;
            width: 350px;
            height: 350px;
            -webkit-transform: rotate(20deg);
               -moz-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                 -o-transform: rotate(20deg);
                    transform: rotate(20deg);
            right: -214px;
            top: -20px;
            .text-box {
                position: absolute;
                bottom: 30px;
                left: 20px;
                -webkit-transform: rotate(-20deg);
                   -moz-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                     -o-transform: rotate(-20deg);
                        transform: rotate(-20deg);
            }
            i {
                font-size: 35px;
                padding: 5px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .mango-boxes-right {
        .green-box {
            width: 560px;
            height: 280px;
            right: 100px;
            top: -240px;
        }
        .yellow-box {
            width: 300px;
            height: 300px;
            right: -169px;
            top: -90px;
        }
    }
}
