<nav class="mango-nav navbar col-lg-6 col-lg-offset-3 navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-href="#">ABOUT</a></li>
        <li class="active"><a ng-href="#">MANGOBOX</a></li>
        <li><a ng-href="#">MANGOCAMP</a></li>
        <li><a ng-href="#">BLOG</a></li>
        <li><a ng-href="#">CONTACT</a></li>
      </ul>      
    </div>
  </div>
</nav>
